/* Global styles */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

/* App container */
.app {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #1e3c72, #2a5298);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-items: center;     /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  
}

/* Search bar styling */
.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.search-bar form {
  display: flex;
  width: 100%;
}

.search-bar input {
  flex: 1; 
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #4caf50;
  color: #fff;
  border-radius: 0 5px 5px 0;
}

.search-bar button:hover {
  background-color: #45a049;
}



.search-bar > button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #2196f3;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar > button:hover {
  background-color: #0b7dda;
}

/* Weather card styling */
.weather-card {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 750px; /* Constrain width */
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
}

.weather-card img {
  width: 120px;
  height: 120px;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Forecast styling */
.forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast-card {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  width: 120px;
}

.forecast-card img {
  width: 50px;
  height: 50px;
}

/* Responsive design */
@media (max-width: 1024px) {
  .forecast-card {
    width: calc(50% - 40px); /* Two cards per row */
  }

  .weather-card{
    width: 90%;
  }
}

@media (max-width: 768px) {
  .forecast-card {
    width: calc(100% - 40px); /* One card per row */
  }

  .weather-card img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 600px) {
  

  .weather-card img {
    width: 120px;
    height: 120px;
  }

  .forecast-card {
    width: calc(100% - 40px); /* Full width for mobile */
  }
}
